<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC Rivals - Home</title>
    <script rel="stylesheet" src="https://cdn.tailwindcss.com"></script>
    <link href="../static/css/prueba.css">
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body class="bg-gray-100">

<h1 style="font-family: 'Koulen', cursive;">hola</h1>
<h1 style="font-family: 'Sonic Extra Bold', sans-serif">ufc</h1>

</body>
</html>
