<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <script>
        function setRandomImages() {
            const images = [
                '../img/img1.png',
                '../img/img2.png',
                '../img/img3.png',
                '../img/img4.png',
                '../img/img5.png',
                '../img/img6.png',
                '../img/img7.png',
                '../img/img8.png',
                '../img/img9.png',
                '../img/img10.png',
                '../img/img11.png',
                '../img/img12.png',
                '../img/img13.png',
                '../img/img14.png',


            ];
            const elements = document.querySelectorAll('.img_random');
            const usedIndexes = new Set();

            elements.forEach(el => {
                let randomIndex;

                // Buscar un índice que no se haya usado aún
                do {
                    randomIndex = Math.floor(Math.random() * images.length);
                } while (usedIndexes.has(randomIndex) && usedIndexes.size < images.length);

                usedIndexes.add(randomIndex);
                el.style.backgroundImage = `url('${images[randomIndex]}')`;
            });
        }
        window.addEventListener('load', setRandomImages);
    </script>
</head>
<body>

<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/preloader :: preloader}"></div>
<main class="overflow-hidden relative w-full h-full flex justify-center items-center py-12 px-4 sm:py-24 sm:px-24 mt-8 mb-12 sm:mt-16 sm:mb-16">

    <!-- Imagen desenfocada -->
    <div class="absolute inset-0 z-0">
        <div class="w-full h-full img_random blur-sm"></div>
    </div>
    <div class="relative z-10 bg-white p-8 shadow-lg w-full max-w-md">
        <h2 class="text-2xl text-center mb-6">Register</h2>
        <div th:if="${errorMessage}" class="w-full mx-auto mt-6 mb-6">
            <div class="flex items-center bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded shadow"
                 role="alert">
                <svg class="fill-current w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M10 15a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0-12a1 1 0 011 1v8a1 1 0 01-2 0V4a1 1 0 011-1z"/>
                </svg>
                <p class="text-sm" th:text="${errorMessage}">Error</p>
            </div>
        </div>
        <form action="/register" method="post">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input type="text" id="username" name="username" th:value="${username}"
                       class="w-full mt-1 p-2 border border-gray-300 rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" id="email" name="email" th:value="${email}"
                       class="w-full mt-1 p-2 border border-gray-300 rounded-md" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" id="password" name="password"
                       class="w-full mt-1 p-2 border border-gray-300 rounded-md" required>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-red-600 text-white px-4 py-2 hover:bg-red-700">Register</button>
                <a href="/login" class="text-sm text-red-600 hover:underline">I have an account?</a>
            </div>
        </form>

    </div>
</main>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
