<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.delete-account').forEach(button => {
                button.addEventListener('click', function () {
                    const fighterId = this.dataset.id;
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "Do you want to delete your account?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#e3342f',
                        cancelButtonColor: '#6c757d',
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                icon: 'success',
                                title: 'deleted!',
                                text: 'Your account is already deleted',
                                confirmButtonColor: '#E50F0F'
                            });

                            // la lógica real de guardar
                        }
                    });
                });
            });
        });
        /*]]>*/
    </script>

</head>
<body>

<div th:replace="~{fragments/preloader :: preloader}"></div>
<header th:replace="~{fragments/header :: header}"></header>

<main class="max-w-4xl mx-auto py-10 px-4 text-gray-900 shadow-xl m-4 p-6">
    <h2 class="text-2xl mb-6">User favorites</h2>
    <div class="mb-4 bg-gray-100 rounded-lg shadow p-4">
        <a th:href="@{/favorites}" class="cursor-pointer text-lg font-medium flex items-center">
            <!-- Icono de favoritos (estrella mejor definida) -->
            <img class="mr-2" width="24" height="24" src="https://img.icons8.com/color/48/star--v1.png" alt="star--v1"/>
            Favorites
        </a>
    </div>

    <!-- Section 1: User Settings -->
    <form th:action="@{/user}" method="get" class="mb-10">

        <h2 class="text-2xl mb-6">User Settings</h2>

        <details class="mb-4 bg-gray-100 rounded-lg shadow p-4">
            <summary class="cursor-pointer text-lg font-medium">Change Username</summary>
            <div class="mt-4 space-y-2">
                <input type="text" placeholder="New Username" class="w-full p-2 border rounded">
            </div>
        </details>

        <details class="mb-4 bg-gray-100 rounded-lg shadow p-4">
            <summary class="cursor-pointer text-lg font-medium">Change Email</summary>
            <div class="mt-4 space-y-2">
                <input type="email" placeholder="New Email" class="w-full p-2 border rounded">
            </div>
        </details>

        <details class="mb-4 bg-gray-100 rounded-lg shadow p-4">
            <summary class="cursor-pointer text-lg font-medium">Change Password</summary>
            <div class="mt-4 space-y-2">
                <input type="password" placeholder="Current Password" class="w-full p-2 border rounded">
                <input type="password" placeholder="New Password" class="w-full p-2 border rounded">
                <input type="password" placeholder="Confirm New Password" class="w-full p-2 border rounded">
            </div>
        </details>


        <div class="mt-6 flex gap-4 justify-center items-center">
            <button type="submit"
                    class="bg-[#E50F0F] hover:bg-red-700 text-white h-12 w-32 flex justify-center items-center">
                <span>Save Changes</span>
            </button>
            <button type="reset"
                    class="relative h-12 w-32 flex justify-center items-center group border-2 border-black bg-white">
                <span class="z-10">Discard Changes</span>
                <div class="absolute bottom-0 left-0 h-1 w-full bg-[#E50F0F] scale-x-0 group-hover:scale-x-100 origin-left transition-transform duration-300 ease-in-out"></div>
            </button>
        </div>

    </form>

    <h2 class="text-2xl mb-6">Restricted Area</h2>
    <details class="mb-4 bg-gray-100 rounded-lg shadow p-4">
        <summary class="cursor-pointer text-lg font-medium text-yellow-500 flex items-center gap-2">
            <img width="24" height="24" src="https://img.icons8.com/emoji/48/warning-emoji.png" alt="warning-emoji"/>
            Delete Account
        </summary>


        <div class="mt-4">
            <p class="text-yellow-500 mb-2">Warning: This action is irreversible.</p>
            <button class="delete-account bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-700">Delete My Account
            </button>
        </div>
    </details>

    <!-- Logout Button -->
    <div class="flex justify-center items-center">
        <a th:href="@{/logout}"
           class="bg-[#E50F0F] hover:bg-red-700 text-white h-12 w-32 flex justify-center items-center">
            <span>logout</span>
        </a>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
