<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p>username: <span th:text="${new_username}"></span></p>
    <p>email:<span th:text="${new_email}"></span></p>
    <p>current_password:<span th:text="${current_password}"></span></p>
    <p>new_password:<span th:text="${new_password}"></span></p>
    <p>confirm_new_password:<span th:text="${confirm_new_password}"></span></p>
</div>

</body>
</html>