<!-- fragments/head.html -->
<th:block th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC Rivals</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/comun.js}"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{/logos/ufc_rivals_logo.svg}" />

    <!-- CSS personalizado -->
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</th:block>
